/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 4, 2021, 12:45:00 PM
    Author     : roman
*/

$move_option_layer-z: 1000;
$board__car_img-z: 100;
$debris_img-z: 10;
$gears-z: 1001;
$slide_panel-z: 10000;
$tooltip-z: 1000000;
$onboard-opacity: 65%;

#board_parent {
    height: 100%;
    width: 100%;
    position: absolute;
    .overflow_helper {
        height: 100%;
        overflow: auto;
        #board {
            position: relative;
            top: 0;
            .board__track {
                display: block;
            }
            .car_img {
                z-index: $board__car_img-z;
            }
            .car_img.move_option {
                opacity: $onboard-opacity;
                cursor: pointer;
                z-index: $move_option_layer-z;
            }
            .car_img.move_option.selected {
                opacity: 1;
            }
        }
    }
    .slide_panel_stack {
        position: absolute;
        .slide_panel {
            position: relative;
            z-index: $slide_panel-z;
            display: inline-flex;
            margin-left: 3px;
            margin-right: 3px;
            .slide_panel__content.hidden {
                display: none;
            }
            .slide_panel__buttons {
                text-align: center;
            }
        }
    }
    .slide_panel_stack.slide_panel_stack_top {
        top: 0;
        text-align: left;
        .slide_panel {
            vertical-align: top;
            flex-direction: column;
            .slide_panel__content {
                border-width: 5px;
                border-color: black;
                border-style: none solid solid solid;
                border-radius: 0 0 10px 10px;
                background-color: darkgrey;
                padding: 5px;
            }
        }
    }
    .slide_panel_stack.slide_panel_stack_bottom {
        width: 100%;
        bottom: 0;
        text-align: right;
        vertical-align: bottom;
        .slide_panel {
            vertical-align: bottom;
            flex-direction: column-reverse;
            .slide_panel__content {
                border-width: 5px;
                border-color: black;
                border-style: solid solid none solid;
                border-radius: 10px 10px 0 0;
                background-color: darkgrey;
                padding: 5px;
            }
        }
    }
}

.gear_select {
    cursor: pointer;
}

.damage_table {
    background-color: white;
    color: black;
    font-weight: bold;
    .damage.tires {
        background-color: blueviolet;
    }
    .damage.gearbox {
        background-color: seagreen;
    }
    .damage.brakes {
        background-color: turquoise;
    }
    .damage.engine {
        background-color: tomato;
    }
    .damage.chassis {
        background-color: orange;
    }
    .damage.shocks {
        background-color: orchid;
    }
}

.move_option_damage tr {
    cursor: pointer;
}

#car_stats_table {
    td:first-child {
        position: relative;
        width: 50px;
        .car_img {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(90deg);
            transform-origin: 25px 25px;
        }
    }
    .state {
        vertical-align: middle;
    }
    .ranking {
        //display: inline-block;
        position: relative;
        img {
            opacity: 0.2;
            vertical-align: text-bottom;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: large;
            color: red;
        }
    }
}

.damage_table {
    background-color: white;
    color: black;
    font-weight: bold;
    td {
        padding: 0px 15px;
    }
}

.car_img, .debris_img {
    position: absolute;
}

.debris_img {
    opacity: $onboard-opacity;
    z-index: $debris_img-z;
}

button {
    margin: 1px;
    padding: 5px;
    line-height: unset;
}

.gear_choice {
    width: "100px";
    height: "100px";
}

.tooltip {
    background-color: #555;
    color: white;
    z-index: $tooltip-z;
    border-radius: 5px;
    padding: 0 4px;
    opacity: 90%;
}