/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2021, 1:25:44 PM
    Author     : roman
*/

#ocean {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: linear-gradient(lightblue, darkblue 80%, darkgreen 85%, saddlebrown 90%, black 95%);
}

.depth {
    width: 12%;
    height: 12%;
}

.depth {
    position: absolute;
}

.depth:nth-child(-n+4) {
    top: 10%;
}

.depth:nth-child(1) {
    position: absolute;
    left: 10%;
}

.depth:nth-child(2) {
    position: absolute;
    left: 30%;
}

.depth:nth-child(3) {
    position: absolute;
    left: 50%;
}

.depth:nth-child(4) {
    position: absolute;
    left: 70%;
}

.depth:nth-child(5) {
    position: absolute;
    left: 80%;
    top: 21%;
}

.depth:nth-child(6) {
    position: absolute;
    left: 70%;
    top: 32%;
}

.depth:nth-child(7) {
    position: absolute;
    left: 50%;
    top: 32%;
}

.depth:nth-child(8) {
    position: absolute;
    left: 30%;
    top: 32%;
}

.depth:nth-child(9) {
    position: absolute;
    left: 10%;
    top: 32%;
}

.depth:nth-child(10) {
    position: absolute;
    left: 0%;
    top: 43%;
}

.depth:nth-child(11) {
    position: absolute;
    left: 10%;
    top: 54%;
}

.depth:nth-child(12) {
    position: absolute;
    left: 30%;
    top: 54%;
}

.depth:nth-child(13) {
    position: absolute;
    left: 50%;
    top: 54%;
}

.depth:nth-child(14) {
    position: absolute;
    left: 70%;
    top: 54%;
}

.depth:nth-child(15) {
    position: absolute;
    left: 80%;
    top: 65%;
}

.depth:nth-child(16) {
    position: absolute;
    left: 70%;
    top: 76%;
}

.depth:nth-child(17) {
    position: absolute;
    left: 50%;
    top: 76%;
}

.depth:nth-child(18) {
    position: absolute;
    left: 30%;
    top: 76%;
}

.depth:nth-child(19) {
    position: absolute;
    left: 10%;
    top: 76%;
}

.depth:nth-child(20) {
    position: absolute;
    left: 0%;
    top: 87%;
}

.tokens {
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    z-index: 1;
}

.tokens .token {
    height: 70%;
}

.tokens .token:nth-child(1) {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2;
}

.tokens .token:nth-child(2) {
    position: absolute;
    left: 15%;
    top: 15%;
    z-index: 1;
}

.tokens .token:nth-child(3) {
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 0;
}

.diver {
    position: absolute;
    left: 20%;
    top: -30%;
    z-index: 10;
}

.D0, .D1, .D2, .D3, .D4 {
    width: 125%;
    height: 125%;
    background-size: 600% 1200%;
    background-image: url("/img/drowning-game/chess.png")
}

.D0 {
    background-position-y: 46%; /*red*/
}

.D1 {
    background-position-y: 73%; /*green*/
}

.D2 {
    background-position-y: 82%; /*blue*/
}

.D3 {
    background-position-y: 19%; /*grey*/
}

.D4 {
    background-position-y: 64%; /*yellow*/
}

/*Players panel*/
#users {
    position: relative;
    width: 180px;
    border: 2px solid black;
    padding: 0px 5px;
    border-radius: 10px;
}

.tokens_taken {
    vertical-align: middle;
}

.tokens_taken * {
    position: relative;
    height: 100%;
}

#users .user {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 25px;
}

.user .score {
    position: absolute;
    right: 5px;
}

.user:nth-child(1) {
    background-color: red;
    color: white;
}

.user:nth-child(2) {
    background-color: green;
    color: black;
}

.user:nth-child(3) {
    background-color: blue;
    color: white;
}

.user:nth-child(4) {
    background-color: grey;
    color: black;
}

.user:nth-child(5) {
    background-color: yellow;
    color: black;
}

/*Oxygen bar*/
#oxygen {
    background: url("/img/drowning-game/health-bar/health25.png");
    background-size: 95% 100%;
    background-repeat: no-repeat;
    height: 70px;
    text-align: right;
    padding-top: 25px;
    color: black;
}

#oxygenDepletion {
    position: relative;
    background-color: black;
    height: 48%;
}