/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 4, 2021, 12:45:00 PM
    Author     : roman
*/
#board_parent {
  height: 100%;
  width: 100%;
  position: absolute;
}
#board_parent .overflow_helper {
  height: 100%;
  overflow: auto;
}
#board_parent .overflow_helper #board {
  position: relative;
  top: 0;
}
#board_parent .overflow_helper #board .board__track {
  display: block;
}
#board_parent .overflow_helper #board .board__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 95;
}
#board_parent .overflow_helper #board .car_img {
  z-index: 100;
}
#board_parent .slide_panel_stack {
  position: absolute;
}
#board_parent .slide_panel_stack .slide_panel {
  position: relative;
  z-index: 10000;
  display: inline-flex;
  margin-left: 3px;
  margin-right: 3px;
}
#board_parent .slide_panel_stack .slide_panel .slide_panel__content.hidden {
  display: none;
}
#board_parent .slide_panel_stack .slide_panel .slide_panel__buttons {
  text-align: center;
}
#board_parent .slide_panel_stack.slide_panel_stack_top {
  top: 0;
  text-align: left;
}
#board_parent .slide_panel_stack.slide_panel_stack_top .slide_panel {
  vertical-align: top;
  flex-direction: column;
}
#board_parent .slide_panel_stack.slide_panel_stack_top .slide_panel .slide_panel__content {
  border-width: 5px;
  border-color: black;
  border-style: none solid solid solid;
  border-radius: 0 0 10px 10px;
  background-color: darkgrey;
  padding: 5px;
}
#board_parent .slide_panel_stack.slide_panel_stack_bottom {
  width: 100%;
  bottom: 0;
  text-align: right;
  vertical-align: bottom;
}
#board_parent .slide_panel_stack.slide_panel_stack_bottom .slide_panel {
  vertical-align: bottom;
  flex-direction: column-reverse;
}
#board_parent .slide_panel_stack.slide_panel_stack_bottom .slide_panel .slide_panel__content {
  border-width: 5px;
  border-color: black;
  border-style: solid solid none solid;
  border-radius: 10px 10px 0 0;
  background-color: darkgrey;
  padding: 5px;
}

.gear_select {
  cursor: pointer;
}

.damage_table {
  background-color: white;
  color: black;
  font-weight: bold;
}
.damage_table .damage.tires {
  background-color: blueviolet;
}
.damage_table .damage.gearbox {
  background-color: seagreen;
}
.damage_table .damage.brakes {
  background-color: turquoise;
}
.damage_table .damage.engine {
  background-color: tomato;
}
.damage_table .damage.chassis {
  background-color: orange;
}
.damage_table .damage.shocks {
  background-color: orchid;
}

.move_option_damage tr {
  cursor: pointer;
}

#car_stats_table td:first-child {
  position: relative;
  width: 50px;
}
#car_stats_table td:first-child .car_img {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 25px 25px;
}
#car_stats_table .state {
  vertical-align: middle;
}
#car_stats_table .ranking {
  position: relative;
}
#car_stats_table .ranking img {
  opacity: 0.2;
  vertical-align: text-bottom;
}
#car_stats_table .ranking span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: red;
}

.damage_table {
  background-color: white;
  color: black;
  font-weight: bold;
}
.damage_table td {
  padding: 0px 15px;
}

.move_option {
  opacity: 65%;
  cursor: pointer;
}

.car_img, .debris_img {
  position: absolute;
}

.debris_img {
  opacity: 65%;
  z-index: 10;
}

button {
  margin: 1px;
  padding: 5px;
  line-height: unset;
}

.gear_choice {
  width: "100px";
  height: "100px";
}

.tooltip {
  background-color: #555;
  color: white;
  z-index: 1000000;
  border-radius: 5px;
  padding: 0 4px;
  opacity: 90%;
}

/*# sourceMappingURL=formula-game.css.map */
